
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum&display=swap');

:root{
    --text-orange: hsl(240, 100%, 50%);
    --text-light: #fff;
}

.navbar{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar .image-fluid{
    width: 120px !important;
    height: 120px !important;
    /* margin: 10px 0px; */
    padding: 10px;
    transform: scale(1.4);
}
.nav-link{
  transition: .3s;
}
.nav-link:hover{
    color: #efebce !important;
    
}
.navbar select{
    outline: none;
}
.navbar option{
    outline: none;
}
.navbar input{
    outline: none;
    background: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #efebce;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

.drowdow{
    top: 67px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .5s;
}
.drowdow a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    /* 00a6fb */
}

.drowdow a:hover{
    color: #0496ff;
}
.nav-item:hover .drowdow{
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}

.logo img{
    width: 100px;
    height: 100px;
    
  }
.offcanvas{
    width: 350px !important;
  }
.offcan .nav-link:hover{
  color: #caf0f8 !important;
}
.drowdow1 a{
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0px 7px;
  display: none;
  /* 00a6fb */
}
.drowdow1 a:hover{
  color: #fff;
}
.offcan .nav-item:hover .drowdow1 a{
  display: block;
}
/* ------ Slide & discount ----- */
.discount{
  margin-top: 140px;
}
.card-slid{
  width: 100%;
  height: 65vh;
  overflow: hidden;
}
.top-25{
  left: 0;
  top: 0;
}
.end-25{
  right: -200px;
}
.card-slid .carousel{
  width: 100% !important;
  height: 100% !important;
}
.carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btnOrder{
  padding: 5px 20px;
  background: none;
  outline: none;
  border: none;
  border: 2px solid #fff;
  color: #fff;
}
.btnOrder:hover{
  border-color: #00b4d8;
  background-color: #00b4d8;
}
.box-card-banner{
  width: 100%;
  height: 45%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}
.card-banner{
  width: 100%;
  height: 65vh;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-card-banner img{
  width: 100%;
  height: 100%;
  transition: .5s;
}
.box-card-banner:hover img{
  transform: scale(1.1);
}
.fs-7{
  font-size: 12px;
}
/* ------ item Slide ------ */
.section-itemSlide{
  /* background: #eee; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  display: flex;
}

.swiper-slide {
  width: 120px !important;
  height: 120px !important;
  line-height: 120px;
  text-align: center;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- section-men ------- */
.container-men{
  border-top: 2px solid #2196f3;
}
.text-men{
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.subMen{
  align-items: center;
  text-align: center;
}
.subMen a{
  text-decoration: none;
  color: gray;
}
.subMen a:hover{
  color: #2196f3;
}
.menSlide{
  width: 100%;
  overflow: hidden;
}
.menSlideBar{
  width: 100%;
  overflow: hidden;
}
.menSlideBar .carousel-inner{
  width: 100%;
  height: 87vh;
} 
.menSlideBar .carousel-inner img{
  width: 100% ;
  height: 100% ;
  object-fit: cover ;
}
/* ---------- */

.cardMen a{
  text-decoration: none;
  color: #000;
}
.menCard-box{
  width: 100%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.box-cardMen{
  height: 47.5%;
  overflow: hidden;
  transition: 0.3s;
}
.cardmen-img{
  height: 70%;
  overflow: hidden;
}
.cardmen-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}
.cardMen-tille{
  height: 30%;
  padding-top: 0;
}
.name-itemMen{
  font-size: 10px;
}
.cardMen-tille p{
  /* font-size: 9px; */
  line-height: 10px;
  padding-top: 10px;
}
.cardMen-tille span{
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 85, 255, 0.607);
}
.star{
  font-size: 13px;
}
.pos-more{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #00b4d8;
  border-radius: 5px;
  color: #fff;
}


.box-cardMen:hover{
  transform: translate(0 , -20px);
  transform: scale(10px);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.box-cardMen img:hover{
  transform: scale(1.2);
}
/* ----------- section-newProduct ------- */
.cardNew{
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  transition: .3s;
}
.cardNew img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardNew:hover{transform: scale(0.96);
  border-radius: 5px;
}


/* ------Fooder-------- */
.fooder{
  border-top: 1px solid gray;
}
.w-10{
  width: 100px;
}
/* ------Resposive--- */
/* // Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) { 
  .carousel-caption h5{
    font-size: 15px;
  }
  .carousel-caption h1{
    font-size: 20px;
  }
  .btnOrder{
    font-size: 15px;
  }
  .card-slid{
    width: 100%;
    height: 35vh;
    overflow: hidden;
  }
  .subMen{
    justify-content: center;
  }
  .menCard-box{
    flex-direction: row;
    height: 50vh;
  }
  .box-cardMen{
    width: 47%;
    height: 100%;
    
  }
}
/* ---------------- */
@media (min-width: 577px) { 
  .card-slid{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    
  }
  .subMen{
    justify-content: center;
  }
  .menCard-box{
    flex-direction: row;
    height: 55vh;
  }
  .box-cardMen{
    width: 47%;
    height: 100%;
    
  }
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .carousel-caption h5{
    font-size: 35px;
  }
  .btnOrder{
    font-size: 25px;
  }
  .subMen{
    justify-content: center;
  }
  .menCard-box{
    flex-direction: row;
    height: 80vh;
  }
  .cardMen-tille p{
    font-size: 20px;
    line-height: 40px;
  }
  .cardMen-tille span{
    font-size: 20px;
    line-height: 40px;
    padding: 0px 20px;
  }
  .box-cardMen{
    width: 47%;
    height: 100%;
    
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .carousel-item .start-20{
    width: 60%;
    left: 0;
  }
  .carousel-item .end-20{
    width: 60%;
    right: 0;
    margin-left: 250px;
  }
  .card-banner{
    height: 30vh;
    flex-direction: row;
   
  }
  .box-card-banner{
    height: 100%;
    margin: 10px;
  }
  .name-itemMen{
    font-size: 9px;
  }
  .card-slid{
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
  .subMen{
    justify-content: center;
  }
  .menSlideBar{
    width: 60%;
  }

  .menCard-box{
    flex-direction: column;
    height: 150vh;
  }
  .cardMen-tille p{
    font-size: 20px;
    line-height: 30px;
  }
  .cardMen-tille span{
    font-size: 20px;
    line-height: 30px;
    padding: 0px 20px;
  }
  .box-cardMen{
    width: 100%;
    height: 47%;
    
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .carousel-item .start-20{
    width: 50%;
    left: 50px;
  }
  .carousel-item .end-20{
    width: 60%;
    right: 0;
    margin-left: 200px;
  }
  .card-banner{
    height: 100%;
    flex-direction: column;
  }
  .box-card-banner{
    height: 45%;
    margin: 0px;
  }
  .menSlideBar{
    width: 100%;
  }

  .menCard-box{
    flex-direction: column;
    height: 87vh;
  }
  .cardMen-tille p{
    font-size: 12px;
    line-height: 10px;
  }
  .cardMen-tille span{
    font-size: 12px;
    line-height: 20px;
    padding: 0px 10px;
  }
  .box-cardMen{
    width: 100%;
    height: 47%;
    
  }
  
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .carousel-item .start-20{
    width: 60%;
    left: 0;
  }
  .carousel-item .end-20{
    width: 50%;
    right: 0;
    margin-left: 300px;
  }
  .menCard-box{
    flex-direction: column;
    height: 87vh;
  }
  .cardMen-tille p{
    font-size: 20px;
    line-height: 10px;
  }
  .cardMen-tille span{
    font-size: 20px;
    line-height: 20px;
    padding: 0px 10px;
  }
  .box-cardMen{
    width: 100%;
    height: 47%;
    
  }
  
}